@media (max-width: 1450px) {
    .iz{
        display: none;
    }

    .de{
        display: none;
    }
}

@media (max-width: 971px) {
    .tarjetas{
        display: grid;
        grid-template:
            "cel1 cel2 cel3" 1fr
            "cel5 cel7 cel8" 1fr
            "cel10 cel11 cel12" 1fr/
             1fr   1fr   1fr;
        height: 730px;
    }

    nav .pri{
        display: none;
    }

    nav{
        flex-direction: row;
        position: relative;
        justify-content: center;
        width: 120%;
    }

    nav .ham a{
        display: block;
        
    }

    nav ul.pri{
        display: none;
    }
  
    .sub li {
        display: none;
    }

    nav:focus-within ul.pri {
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #B45A82;
        height: 250px;
        padding: 10px 0;
        border: 1px solid black;
    } 

    footer p{
        font-size: small;
    }
}

@media (max-width: 1200px) {
    main .calificacion{
        margin: 30px;
    }
}

@media (max-width: 1200px) {
    main .seccion-peliculas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 1100px) {
    main .seccion-peliculas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 770px) {
    .tarjetas{
        display: grid;
        grid-template:
            "cel1 cel2" 1fr
            "cel3 cel4" 1fr
            "cel5 cel6" 1fr/
             1fr   1fr;
    }

    nav{
        flex-direction: row;
        position: relative;
        justify-content: center;
        
        width: 125%;
    }

    nav .ham a{
        width: 50px;
    }
}

@media (max-width: 530px) {
    .tarjetas{
        display: grid;
        grid-template:
            "cel1" 1fr
            "cel2" 1fr
            "cel3" 1fr
            "cel4" 1fr/
             1fr;
        height: 1500px;
    }

    .poster img{
        width: 90px;
        height: 150px;
    }
}

@media (max-width: 585px) {
    .text{
        display: none;
        margin: 0;
    }

    .calificacion {
        margin-right: 30px;
    }

    .info p{
        font-size: 12px;
    }

    .dine{
        font-size: small;
    }

    nav:focus-within ul.pri {
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #B45A82;
        height: 250px;
        padding: 10px 0;
        border: 1px solid black;
    } 
}


@media (max-width: 768px) {
    main .seccion-peliculas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

@media (max-width: 768px) {
    main, .best {
      width: 80%;
      max-width: 600px; 
      font-size: 12px; 
      margin: 0 auto; 
    }
  
    main th{
        font-size: 12px;
    }

    main td{
        font-size: 12px;
    }

    main .cali{
        height: 70px;
    }

    main .dine{
        width: 10px;
        background-color: lightskyblue;
    }

    .best th, .best td {
      padding: 8px;
    }
  
    .best .ima {
      width: 80px;
      height: auto;
      display: block;
      margin: 10px auto;
    }
}

@media (max-width: 860px) {
    nav ul.pri{
        display: none;
    }
  
    .sub li {
        display: none;
    }

    nav:focus-within ul.pri {
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #B45A82;
        height: 250px;
        padding: 10px 0;
        transition: 0.5s;
        border: 1px solid black;
    }  
}

@media (max-width: 1790px) {
    nav ul.pri .buscar{
        display: none;
    }
}

@media (max-width: 1395px) {
    .pri{
        flex-direction: row;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    .pri a{
        width: 144px;
        font-size: small;
    }

    .pri:hover{
        display: none;
    }

    .sub{
        display: none;
    }

    nav img{
        height: 80px;
        width: 100px;
    }

    .idioma{
        height: 100px;
        width: 300px;
    }
}